@import "variables";
@import "mixin";

.input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 26px;
  border-radius: 10px;
  cursor: pointer;
  @include theme-background;
  @include theme-border;
  @include theme-text;
}

.arrow {
  transform: rotate(180deg);
  transition: transform 0.2s ease;

  .opened & {
    transform: rotate(0);
  }
}

.options {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  left: 0;
  z-index: 1;
  padding: 15px 16px;
  overflow: hidden;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.2s ease-in-out;
  @include theme-background;
  @include theme-border;
  @include theme-text;

  .opened & {
    transform: scaleY(1);
  }
}

.option {
  padding: 10px;
  cursor: pointer;

  &.selected,
  &:hover {
    background-color: lighten($dark-bg-color, 10%);

    :global(.light) & {
      background-color: darken($light-bg-color, 10%);
    }
  }
}
