@import "variables";

.input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 26px;
  background-color: lighten($dark-bg-color, 5%);
  border: 1px solid lighten($dark-bg-color, 10%);
  color: $dark-text-color;
  border-radius: 10px;
  cursor: pointer;

  :global(.light) & {
    background-color: darken($light-bg-color, 3%);
    border-color: darken($light-bg-color, 20%);
    color: $light-text-color;
  }
}

.arrow {
  transform: rotate(180deg);
  transition: transform 0.2s ease;

  .opened & {
    transform: rotate(0);
  }
}

.options {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  left: 0;
  z-index: 1;
  padding: 15px 16px;
  overflow: hidden;
  background-color: lighten($dark-bg-color, 5%);
  border: 1px solid lighten($dark-bg-color, 10%);
  color: $dark-text-color;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.2s ease-in-out;

  :global(.light) & {
    background-color: darken($light-bg-color, 3%);
    border-color: darken($light-bg-color, 20%);
    color: $light-text-color;
  }

  .opened & {
    transform: scaleY(1);
  }
}

.option {
  padding: 10px;
  cursor: pointer;

  &.selected,
  &:hover {
    background-color: lighten($dark-bg-color, 10%);

    :global(.light) & {
      background-color: darken($light-bg-color, 10%);
    }
  }
}
