@import "variables";
@import "mixin";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

body.dark {
  @include theme($dark-bg-color, $dark-text-color);
}

body.light {
  @include theme($light-bg-color, $light-text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
