@import "variables";

.nav {
  width: 100%;
  padding: 40px 16px;
  display: flex;
  align-items: center;
  gap: 40px;

  a {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;

    &:hover {
      color: lighten($primary-color, 20%);
    }
  }
}

.cart {
  position: relative;
  width: 40px;
  height: 36px;
  margin-left: auto;

  & > span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 1;
    border-radius: 50%;
    background: $primary-color;
    top: -4px;
    right: -4px;
    color: #fff;
  }
}

.toggle {
  position: relative;
  width: 72px;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  border: 2px solid darken($light-bg-color, 20%);

  :global(.light) & {
    border: 2px solid lighten($dark-bg-color, 30%);
  }

  & input[type="checkbox"] {
    display: none;
  }
}

.toggleBtn {
  position: absolute;
  width: 28px;
  height: 28px;
  background: darken($light-bg-color, 20%);
  border-radius: 50%;
  top: 2px;
  left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.2s ease;
  z-index: 5;

  :global(.light) & {
    background: lighten($dark-bg-color, 30%);
  }

  input[type="checkbox"]:checked + & {
    left: 38px;
    transition: 0.2s ease;
  }
}

.darkIcon,
.lightIcon {
  position: absolute;
  z-index: 1;
  top: 5px;
  transform: scale(0.8);
}

.darkIcon {
  left: 8px;
}

.lightIcon {
  right: 8px;
}
