@import "variables";

.nav {
  width: 100%;
  padding: 40px 16px;
  display: flex;
  align-items: center;
  gap: 40px;

  a {
    font-size: 24px;
    text-decoration: none;

    &:hover {
      color: lighten($primary-color, 20%);
    }

    &:last-child {
      margin-left: auto;
    }
  }
}
